.loader_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 50px;
}

.loader_container p {
    font-size: 1.5em;
    color: #f70c0c;
}

